Repository treebeardtech/pytest-deepcov: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc-lint

.pre-commit-config.yaml:

---
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.3.0
      hooks:
          - id: trailing-whitespace
          - id: check-toml
          - id: pretty-format-json
            args:
                - --autofix
    - repo: https://github.com/adrienverge/yamllint.git
      rev: v1.21.0
      hooks:
          - id: yamllint
            args:
                - --format
                - parsable
                - --strict
                - '-d {extends: relaxed, rules: {line-length: {max: 150}}}'

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.0.11
      hooks:
          - id: yamlfmt
    - repo: https://github.com/ambv/black
      rev: stable
      hooks:
          - id: black
            files: (src|tests).*py
    - repo: https://github.com/PyCQA/isort
      rev: 5.6.4
      hooks:
          - id: isort
            args: [-m, '3', --tc]
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.2.1
      hooks:
          - id: prettier
            types:
                - ts
    - repo: local
      hooks:
          - id: pyright
            name: pyright
            entry: bash -c 'cd python-cli && poetry run pyright'
            language: node
            pass_filenames: false
            types: [python]
            additional_dependencies: [pyright@1.1.91]
    - repo: local
      hooks:
          - id: tsc-lint
            name: tsc-lint
            entry: bash -c 'yarn compile && yarn lint --fix'
            language: node
            pass_filenames: false
            types:
                - ts

junit fix (#8)
  python-cli/pyproject.toml
  python-cli/src/deeptest/pytest_plugin.py
  python-cli/tests/resources/pytest.ini
  python-cli/tests/test_cli.py
  python-cli/tests/test_pytest_plugin.py
  python-cli/tests/util.py
Due: pyright

disable when debugging (#9)
  python-cli/pyproject.toml
  python-cli/src/deeptest/pytest_plugin.py
  python-cli/tests/resources/pytest.ini
  python-cli/tests/test_pytest_plugin.py
Due: pyright

Commit from GitHub Actions (.github/workflows/publish-to-pypi.yml)
  python-cli/pyproject.toml
Due: none

context flag
  python-cli/src/deeptest/pytest_plugin.py
  python-cli/tests/resources/pytest.ini
Due: pyright

disable collect
  python-cli/src/deeptest/pytest_plugin.py
  python-cli/tests/test_pytest_plugin.py
Due: pyright

read .coveragerc (#12)
  python-cli/src/deeptest/pytest_plugin.py
  python-cli/tests/resources/.coveragerc
  python-cli/tests/test_pytest_plugin.py
Due: pyright

add pytest-cov dep
  python-cli/pyproject.toml
Due: none

deepcov
  .github/workflows/test-publish-to-pypi.yml
  .vscode/settings.json
  CHANGELOG.md
  README.md
  package.json
  python-cli/pyproject.toml
  python-cli/src/deepcov/__init__.py
  python-cli/src/deepcov/cli.py
  python-cli/src/deepcov/pytest_plugin.py
  python-cli/tests/test_cli.py
  python-cli/tests/test_pytest_plugin.py
  src/extension.ts
Due: pyright, tsc-lint

Update README.md
  README.md
Due: none

rename
  .github/workflows/test-publish-to-pypi.yml
  python-cli/pyproject.toml
Due: none

isort
  python-cli/tests/test_cli.py
Due: pyright

rename (#2)
  .github/workflows/test-publish-to-pypi.yml
  python-cli/pyproject.toml
  python-cli/tests/test_cli.py
Due: pyright

ci
  .github/workflows/publish-to-pypi.yml
  package.json
Due: none

fix lint
  package.json
Due: none

ci (#3)
  .github/workflows/publish-to-pypi.yml
  package.json
Due: none

fix ci
  .github/workflows/publish-to-pypi.yml
Due: none

ci
  .github/workflows/publish-to-pypi.yml
Due: none

fixes
  .github/workflows/publish.yml
  .github/workflows/test-publish-to-pypi.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: none

quotes
  .github/workflows/publish.yml
Due: none

yarn cmd
  package.json
Due: none

fix
  .github/workflows/publish.yml
  package.json
Due: none

Published version ${GITHUB_REF:10}
  python-cli/pyproject.toml
Due: none

msg
  .github/workflows/publish.yml
Due: none

f
  python-cli/tests/test_cli.py
Due: pyright

test
  .github/workflows/test.yml
Due: none

f
  .github/workflows/test.yml
Due: none

reenable
  .github/workflows/test.yml
Due: none

r
  .github/workflows/test.yml
  README.md
  docs/editor.png
  docs/icon.png
  docs/tree.png
  package.json
Due: none

isort (#4)
  .github/workflows/test.yml
  python-cli/tests/test_cli.py
Due: pyright

r
  README.md
Due: none

r
  README.md
  docs/demo.gif
Due: none

r
  docs/demo.gif
Due: none

r
  README.md
  docs/screen.png
Due: none
